# black list #####
# backups
*~
.*~
*.bkup
*swp
.*swp

# log
*.log

*.txt

# config files exclude default
*.profile
!defaut.profile
*.json
!conf.json
*.desc
!default.desc
rtmp.*
!rtmp.default
!exec.list
